<div class="center">
  <h2> {{selectedFruit|titlecase}} {{isTasty?" and its tasty":''}} </h2>
</div>

<div id="apple-section" class="section">
  <h1>Apple Section</h1>
</div>
<div id="banana-section" class="section">
  <h1>Banana Section</h1>
</div>

<div id="grape-section" class="section">
  <h1>Grape Section</h1>
</div>

<div id="watermelon-section" class="section">
  <h1>Watermelon Section</h1>
</div>

<div id="gauva-section" class="section">
  <h1>Guava Section</h1>
</div>

<div id="pineapple-section" class="section">
  <h1>Pineapple Section</h1>
</div>
